.image-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 250px);
    grid-row-gap: 2rem;
    align-items: center;
}

.image-list img  {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    justify-self: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 520px) {
    .image-list {
        grid-template-columns: repeat(1, 250px);
    }
}

@media only screen and (max-width: 750px) and (min-width: 520px) {
    .image-list {
        grid-template-columns: repeat(2, 250px);
    }
}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
    .image-list {
        grid-template-columns: repeat(3, 250px);
    }
}