.image-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 250px);
    grid-row-gap: 2rem;
    align-items: center;
}

.image-list img  {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    justify-self: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}